<ion-content class="ion-padding" [style.background-color]="'#1A3D5D'">
  <!-- Logo centrado -->
  <div class="logo-container">
    <img src="assets/logo1.png" alt="PsyWell Logo" class="small-logo" />
  </div>

  <!-- Texto centrado -->
  <h2 class="center-text">¿Cómo te sientes hoy?</h2>

  <!-- Escala de emociones con los SVG como botones -->
  <div class="emotion-scale">
    <div class="emotion-container" [ngClass]="{'selected': selectedEmotion === 'very-angry'}">
      <img src="assets/emotes/enojado.svg" alt="Very Angry" class="emotion-icon" (click)="selectEmotion('very-angry')"/>
    </div>
    <div class="emotion-container" [ngClass]="{'selected': selectedEmotion === 'angry'}">
      <img src="assets/emotes/triste.svg" alt="Angry" class="emotion-icon" (click)="selectEmotion('angry')"/>
    </div>
    <div class="emotion-container" [ngClass]="{'selected': selectedEmotion === 'neutral'}">
      <img src="assets/emotes/normal.svg" alt="Neutral" class="emotion-icon" (click)="selectEmotion('neutral')"/>
    </div>
    <div class="emotion-container" [ngClass]="{'selected': selectedEmotion === 'happy'}">
      <img src="assets/emotes/feliz.svg" alt="Happy" class="emotion-icon" (click)="selectEmotion('happy')"/>
    </div>
    <div class="emotion-container" [ngClass]="{'selected': selectedEmotion === 'very-happy'}">
      <img src="assets/emotes/espectacular.svg" alt="Very Happy" class="emotion-icon" (click)="selectEmotion('very-happy')"/>
    </div>
  </div>

  <!-- Campo de comentarios con nuevo comportamiento -->
  <ion-item class="comment-box">
    <ion-label *ngIf="comment === ''" position="floating">Escribe un comentario (opcional)</ion-label>
    <ion-textarea [(ngModel)]="comment"></ion-textarea>
  </ion-item>

  <!-- Botón Guardar centrado -->
  <div class="button-container">
    <ion-button expand="full" (click)="saveEmotion()">Guardar</ion-button>
  </div>

  <!-- Recordatorio de toma de pastillas -->
  <ion-item lines="none" class="toggle-medication">
    <ion-avatar slot="start">
      <img src="assets/emotes/pastilla.svg" alt="Recordatorio de pastilla" class="pill-icon"/>
    </ion-avatar>
    <ion-label>Recordar tomar pastilla</ion-label>
    <ion-toggle [(ngModel)]="remindMedication"></ion-toggle>
  </ion-item>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <!-- Botón de registrar emociones -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'registrar-emociones'}" (click)="navigateTo('/registrar-emociones')">
        <img src="assets/emotes/calendario.svg" alt="Registrar emociones" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de home -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'home'}" (click)="navigateTo('/home')">
        <img src="assets/emotes/home.svg" alt="Home" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de ver registros -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'ver-registros'}" (click)="navigateTo('/ver-registros')">
        <img src="assets/emotes/informe.svg" alt="Ver registros" class="nav-icon" />
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
