/* Fondo azul oscuro */
ion-content {
  --background: #1A3D5D; /* Fondo general azul oscuro */
}

/* Logo centrado y más pequeño */
.logo-container {
  text-align: center;
  margin-top: 20px;
}

.small-logo {
  width: 150px;
}

/* Centrar el texto */
.center-text {
  text-align: center;
  color: #fff;
}

/* Escala de emociones con iconos SVG */
.emotion-scale {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;  /* Un poco más de margen entre las caritas */
}

.emotion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

/* Efecto de selección */
.selected {
  transform: scale(1.3);  /* Agrandar el icono seleccionado */
}

/* Hacemos las caritas más grandes */
.emotion-icon {
  width: 90px;  /* Aumentamos el tamaño a 80px */
  height: 90px; /* Aumentamos el tamaño a 80px */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.emotion-icon:active {
  transform: scale(1.2);
}

/* Estilo de campo de texto con fondo amarillo */
.comment-box {
  --background: #dfce8c !important;  /* Fondo amarillo claro */
  --color: #000; /* Texto negro */
  border-radius: 8px;
  padding: 10px;
}

/* Recordatorio de pastillas con fondo azul claro */
.toggle-medication {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para mantener el texto en una línea */
  background-color: #5499C7 !important;  /* Fondo azul claro */
  padding: 10px;
  border-radius: 8px;
  box-shadow: none;  /* Sin sombra */
}

.toggle-medication ion-label {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;  /* Espacio entre el texto y el toggle */
  white-space: nowrap;  /* Mantener el texto en una línea */
}

.toggle-medication ion-toggle {
  margin-left: 20%;  /* Alinear el toggle a la derecha */
}

.pill-icon {
  width: 40px;
  height: 40px;
}

/* Botón Guardar en color mostaza */
ion-button {
  --background: #D4A017 !important; /* Color mostaza */
  --background-activated: #b3880c; /* Cuando se presiona */
  --background-focused: #b3880c; /* Cuando está enfocado */
  color: #fff; /* Texto blanco */
}

/* Barra de navegación */
ion-footer {
  --background: #1A3D5D;
}

ion-segment {
  display: flex;
  justify-content: space-around;
}

/* Estilos para los iconos de la barra de navegación */
.nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
