# Especifica archivos y directorios para ignorar en Git

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt

/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Archivos de configuración de Angular
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Archivos del sistema
.DS_Store
Thumbs.db

#google
google-services.json

#archivos sensibles
psywell-ab0ee-firebase-adminsdk-q4k2q-5e70012ea4.json
