.login-logo {
    text-align: center;
    margin-top: 50px;
  }
  
  ion-button {
    margin-top: 30px;
    --background: #bb9432; /* Color mostaza para el botón */
    --background-activated: #ceab44; /* Color cuando se presiona */
    --background-focused: #a18739; /* Color cuando está enfocado */
    color: #fff; /* Texto blanco */
  }
  
  
  ion-content {
    --background: #0878c2; 
  }
  
  ion-item {
    --background: #658baf; /* Un color claro para las casillas */
    --color: #ffffff; /* Texto en negro */
    --border-color: #000000; /* Color del borde */
  }
  
  ion-label {
    --color-focused: #4d4646; /* Color del texto cuando se enfoca */
    --color: #555; /* Color del texto en estado normal */
  }
  
  ion-input {
    color: #000; /* Asegura que el texto del input sea negro */
  }
  