<ion-content class="ion-padding">
  <!-- Vista de Inicio de Sesión -->
  <div *ngIf="!isRegisterMode" class="login-card">
    <div class="login-logo">
      <img src="assets/logo.png" alt="PsyWell Logo" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>        
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        Por favor, introduce un correo electrónico válido.
      </div>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>        
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
        La contraseña es obligatoria.
      </div>
      <ion-button expand="full" type="submit">Ingresar</ion-button>
    </form>
    <div class="register-link" (click)="toggleRegisterMode()">
      Registrar <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

  <!-- Vista de Registro -->
  <div *ngIf="isRegisterMode" class="register-card">
    <ion-icon name="arrow-back-outline" class="back-arrow" (click)="toggleRegisterMode()"></ion-icon>
    <div class="login-logo">
      <img src="assets/logo.png" alt="PsyWell Logo" />
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <!-- Campo para Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input  placeholder="Ingrese nombre o alias" type="text" formControlName="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="error-message">
        El nombre es obligatorio.
      </div>

      <!-- Campo para Correo Electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input placeholder="Ingrese Correo Electrónico" type="email" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        Por favor, introduce un correo electrónico válido.
      </div>

      <!-- Campo para Fecha de Nacimiento -->
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input
          formControlName="fechaNacimiento"
          displayFormat="DD-MM-YYYY"
          placeholder="Ingrese Fecha de Nacimiento"
          class="minimal-datetime">
        </ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('fechaNacimiento')?.invalid && registerForm.get('fechaNacimiento')?.touched" class="error-message">
        La fecha de nacimiento es obligatoria.
      </div>

      <!-- Campo para Género -->
      <ion-item>
        <ion-label position="floating">Género</ion-label>
        <ion-select formControlName="genero" required>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="registerForm.get('genero')?.invalid && registerForm.get('genero')?.touched" class="error-message">
        El género es obligatorio.
      </div>

      <!-- Campo para Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input  placeholder="Ingrese Contraseña" type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        La contraseña es obligatoria.
      </div>

      <!-- Campo para Confirmar Contraseña -->
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input  placeholder="Confirme Contraseña" type="password" formControlName="confirmPassword" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value && registerForm.get('confirmPassword')?.touched" class="error-message">
        Las contraseñas no coinciden.
      </div>

      <ion-button expand="full" type="submit">Crear Cuenta</ion-button>
    </form>
  </div>
</ion-content>
