<ion-content>
  <div class="container" [ngClass]="{ 'register-mode': isRegisterMode }">
    <!-- Logo de la aplicación -->
    <div class="app-logo-container">
      <img src="assets/logo.png" alt="Logo PsyWell" class="app-logo" />
    </div>

    <!-- Contenedor Flip -->
    <div
      class="flip-container"
      #flipContainer
      [ngClass]="{ 'register-mode': isRegisterMode }"
    >
      <!-- Lado Frontal -->
      <div class="card-front">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Inicio de sesión</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <ion-item>
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input
                  type="email"
                  formControlName="email"
                  placeholder="Correo Electrónico"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input
                  type="password"
                  formControlName="password"
                  placeholder="Contraseña"
                ></ion-input>
              </ion-item>

              <div class="options">
                <ion-checkbox slot="start"></ion-checkbox>
                <span>Recordarme</span>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
              </div>

              <div class="action-buttons">
                <ion-button
                  expand="block"
                  type="submit"
                  class="login-button"
                  [disabled]="loginForm.invalid"
                >
                  Iniciar Sesión
                </ion-button>
                <ion-button
                  expand="block"
                  fill="outline"
                  class="google-button"
                  (click)="loginWithGoogle()"
                >
                  Iniciar Sesión con Google
                </ion-button>
              </div>

              <div class="switch-mode">
                <span>¿No tienes una cuenta?</span>
                <a (click)="toggleRegisterMode()">Regístrate</a>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- Lado Trasero -->
      <div class="card-back">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Regístrate</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="registerForm">
              <ion-item>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-input
                  type="text"
                  formControlName="nombre"
                  placeholder="Nombre Completo"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input
                  type="email"
                  formControlName="email"
                  placeholder="Correo Electrónico"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-datetime
                  presentation="date"
                  formControlName="fechaNacimiento"
                  placeholder="Fecha de Nacimiento"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-select formControlName="genero" placeholder="Género">
                  <ion-select-option value="masculino">Masculino</ion-select-option>
                  <ion-select-option value="femenino">Femenino</ion-select-option>
                  <ion-select-option value="otro">Otro</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input
                  type="password"
                  formControlName="password"
                  placeholder="Contraseña"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Confirmar Contraseña"
                ></ion-input>
              </ion-item>

              <div class="action-buttons">
                <ion-button
                  expand="block"
                  class="register-button"
                  (click)="register()"
                >
                  Registrarse
                </ion-button>
              </div>

              <div class="switch-mode">
                <span>¿Ya tienes una cuenta?</span>
                <a (click)="toggleRegisterMode()">Iniciar Sesión</a>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
