ion-content {
  --background: #105685; // Fondo oscuro y calmante
  padding: 15px;

  .logo-container {
    text-align: center;
    margin-top: 5px;

    .small-logo {
      width: 100px;
      height: auto;
      margin-bottom: -10px;
      opacity: 0.8;
    }
  }

  .section-container {
    background-color: #2a5476;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    .center-text {
      text-align: center;
      color: #ffffffcc;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  /* Estilos para la sección de Sonidos Relajantes */
  .sound-section {
    .audio-card {
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .audio-icon {
        font-size: 24px;
        color: #ffda79;
        margin-right: 10px;
      }

      p {
        flex-grow: 1;
        margin: 0;
        color: #ffffffcc;
        font-weight: 500;
        font-size: 16px;
      }

      &.playing {
        background-color: rgba(255, 215, 0, 0.2);
        border-left: 4px solid #ffda79;
      }
    }

    .progress-bar {
      height: 5px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      overflow: hidden;
      margin-top: 5px;

      .progress {
        height: 100%;
        width: 0;
        background-color: #ffda79;
        transition: width 0.1s linear;
      }
    }
  }

  /* Estilos para la sección de Videos de Ayuda */
  .video-section {
    .video-card {
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .video-icon {
        font-size: 24px;
        color: #ffda79;
        margin-right: 10px;
      }

      p {
        margin: 0;
        color: #ffffffcc;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .video-content {
      margin-top: 15px;
      iframe {
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  /* Estilos para la sección de Libros */
  .book-section {
    .book-card {
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .book-cover {
        width: 50px;
        height: 70px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-right: 15px;
      }

      .book-info {
        p {
          margin: 0;
          color: #ffffffcc;

          &.book-title {
            font-weight: bold;
            font-size: 16px;
          }

          &.book-author {
            font-size: 14px;
            color: #d3d3d3;
          }
        }
      }
    }
  }
}

ion-footer {
  --background: #083d5d;
}

ion-segment {
  display: flex;
  justify-content: space-around;
  background-color: #083d5d;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}

.nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-icon:active {
  transform: scale(1.2);
}

.active-segment {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff20;
  border-radius: 8px;
}

