<ion-content>
  <div class="header-container">
    <!-- Logo centrado -->
    <div class="logo-container">
      <img src="assets/logo1.png" alt="PsyWell Logo" class="small-logo" />
    </div>

    <!-- Botón de cerrar sesión -->
    <ion-button fill="clear" class="logout-button" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="profile-info" [style.background-image]="'url(' + bannerImage + ')'">
    <!-- Ícono para editar el banner -->
    <span class="edit-icon-banner" (click)="openImageModal('banner')">✏️</span>
  
    <div class="profile-image-container">
      <ion-avatar>
        <img [src]="profileImage" alt="User Profile" />
      </ion-avatar>
      <span class="edit-icon" (click)="openImageModal('profile')">✏️</span>
    </div>
  
    <div class="user-details">
      <h2>{{ userName }}</h2>
      <p>{{ userEmail }}</p>
    </div>
  </div>
  

  <div class="citas-container">
    <h2>Tus Próximas Citas</h2>

    <div *ngIf="citas.length === 0" class="no-citas-container">
      <ion-button (click)="openPsychologistModal()" expand="block" color="primary">
        Pedir Cita
      </ion-button>
    </div>

    <ion-grid *ngIf="citas.length > 0">
      <ion-row>
        <ion-col size="12" *ngFor="let cita of citas">
          <div class="cita-card">
            <!-- Mapa estático con la ubicación -->
            <div
            class="map-container"
            *ngIf="cita.latitud && cita.longitud"
            (click)="openGoogleMaps(cita.latitud, cita.longitud)"
          >
            <img
              [src]="'https://maps.googleapis.com/maps/api/staticmap?center=' + cita.latitud + ',' + cita.longitud + '&zoom=15&size=400x200&markers=color:red|' + cita.latitud + ',' + cita.longitud + '&key=AIzaSyAFJUcrBDDLPM2SscMvi1x_jUv6Wlqnukg'"
              alt="Mapa de ubicación"
              class="map"
            />
            <div class="avatar-container">
              <img
                *ngIf="cita.fotoPsicologo"
                [src]="sanitizeImageUrl(cita.fotoPsicologo)"
                alt="Foto del Psicólogo"
                (error)="onImageError(cita)" 
              />
            </div>
          </div>
          
          

            <div class="info-container">
              <h3>{{ cita.nombrePsicologo }}</h3>
              <div class="details">
                <p>
                  <ion-icon name="calendar-outline"></ion-icon>
                  Fecha: {{ cita.fecha | date: 'fullDate' }}
                </p>
                <p>
                  <ion-icon name="time-outline"></ion-icon>
                  Hora: {{ cita.horaInicio }} - {{ cita.horaFin }}
                </p>
              </div>

              <!-- Toggle para la alarma -->
              <div class="alarm-toggle">
                <ion-toggle
                  [(ngModel)]="cita.alarmActive"
                  (ionChange)="toggleAlarm(cita)"
                ></ion-toggle>
                <label>Alarma</label>
              </div>

              <p class="comments">
                <strong>Comentarios:</strong> {{ cita.comentarios }}
              </p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <!-- Botón de registrar emociones -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'registrar-emociones'}" (click)="navigateTo('/registrar-emociones')">
        <img src="assets/emotes/calendario.svg" alt="Registrar emociones" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de home -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'home'}" (click)="navigateTo('/home')">
        <img src="assets/emotes/home.svg" alt="Home" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de tips -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'tips'}" (click)="navigateTo('/tips')">
        <img src="assets/emotes/tranquilidad.svg" alt="Tips" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de reloj -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'reloj'}" (click)="navigateTo('/reloj')">
        <img src="assets/emotes/reloj.webp" alt="Reloj" class="nav-icon" />
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
