<ion-content>
  <div class="header-container">
    <!-- Logo centrado -->
    <div class="logo-container">
      <img src="assets/logo1.png" alt="PsyWell Logo" class="small-logo" />
    </div>

    <!-- Botón de ajustes en la esquina superior derecha -->
    <ion-button fill="clear" class="settings-button" (click)="navigateTo('/ajustes')">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Información del perfil -->
  <div class="profile-info">
    <ion-avatar>
      <img src="assets/perfil.png" alt="User Profile">
    </ion-avatar>
    <div class="user-details">
      <h2>Cristina Zapata</h2>
      <p>Depresión</p>
      <p>25 Años</p>
    </div>
  </div>

  <!-- Datos IoT en dos filas de 2 columnas -->
  <div class="iot-data-container">
    <!-- Tarjeta de Frecuencia Cardíaca -->
    <div class="data-card">
      <div class="data-content">
        <img src="assets/fisiologico/bpm.svg" alt="Frecuencia Cardíaca">
        <div class="data-text">
          <h3>{{ heartRate }} bpm</h3>
          <h4>Frecuencia Cardíaca</h4>
        </div>
      </div>
    </div>

    <!-- Tarjeta de Temperatura Corporal -->
    <div class="data-card">
      <div class="data-content">
        <img src="assets/fisiologico/temp.svg" alt="Temperatura Corporal">
        <div class="data-text">
          <h3>{{ bodyTemperature }} °C</h3>
          <h4>Temperatura Corporal</h4>
        </div>
      </div>
    </div>

    <!-- Tarjeta de Nivel de Actividad -->
    <div class="data-card">
      <div class="data-content">
        <img src="assets/fisiologico/walk.svg" alt="Nivel de Actividad">
        <div class="data-text">
          <h3>{{ activityLevel }} pasos</h3>
          <h4>Nivel de Actividad</h4>
        </div>
      </div>
    </div>

    <!-- Tarjeta de Hidratación -->
    <div class="data-card">
      <div class="data-content">
        <img src="assets/fisiologico/agua.svg" alt="Hidratación">
        <div class="data-text">
          <h3>{{ hydration }} ml</h3>
          <h4>Hidratación</h4>
        </div>
      </div>
    </div>

    <!-- Tarjeta de Monitoreo del Sueño -->
    <div class="data-card sleep-card">
      <div class="data-content">
        <img src="assets/fisiologico/sueño.svg" alt="Monitoreo del Sueño">
        <div class="data-text">
          <h3>{{ sleepQuality }} horas</h3>
          <h4>Monitoreo del Sueño</h4>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-button (click)="logout()">Cerrar Sesión</ion-button>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'registrar-emociones'}" (click)="navigateTo('/registrar-emociones')">
        <img src="assets/emotes/calendario.svg" alt="Registrar emociones" class="nav-icon" />
      </ion-segment-button>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'home'}" (click)="navigateTo('/home')">
        <img src="assets/emotes/home.svg" alt="Home" class="nav-icon" />
      </ion-segment-button>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'tips'}" (click)="navigateTo('/tips')">
        <img src="assets/emotes/tranquilidad.svg" alt="Tips" class="nav-icon" />
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
