<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select slot="end" placeholder="Seleccionar Idioma">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
