.content-container {
  --background: #105685;
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que ocupe toda la pantalla */
  padding-bottom: 70px; /* Espacio para el footer */
  overflow-y: auto; /* Permitir scroll */
}
.header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(145deg, #003d73, #002855);
}

.logo-container {
  margin: 0 auto 10px;
}

.logo {
  width: 200px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: -80px;
  color: #ffcc00;
}

/* Sección de datos */
.data-section {
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

.card {
  background: #2a5476;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 204, 0, 0.6);
}

.card-icon {
  font-size: 2.5em;
  color: #ffcc00;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 5px;
}

.card-value {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

/* Resumen semanal */
.weekly-section {
  padding: 20px;
}

.section-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffcc00;
  margin-bottom: 15px;
}

.weekly-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.weekly-card {
  background: linear-gradient(145deg, #ffcc00, #e69a00);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.weekly-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}

.weekly-icon {
  font-size: 2em;
  color: #002855;
  margin-bottom: 10px;
}

.weekly-label {
  font-size: 1em;
  color: #002855;
}

.weekly-value {
  font-size: 1.4em;
  font-weight: bold;
  color: #002855;
}

