<p>
  reloj works!
</p>


<ion-footer>
  <ion-toolbar style="width: 100%;">
    <ion-segment>
      <!-- Botón de registrar emociones -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'registrar-emociones'}" (click)="navigateTo('/registrar-emociones')">
        <img src="assets/emotes/calendario.svg" alt="Registrar emociones" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de home -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'home'}" (click)="navigateTo('/home')">
        <img src="assets/emotes/home.svg" alt="Home" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de tips -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'tips'}" (click)="navigateTo('/tips')">
        <img src="assets/emotes/tranquilidad.svg" alt="Tips" class="nav-icon" />
      </ion-segment-button>
      <!-- Botón de reloj -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'reloj'}" (click)="navigateTo('/reloj')">
        <img src="assets/emotes/reloj.webp" alt="Reloj" class="nav-icon" /> <!-- Asegúrate de que este icono exista -->
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>