<p>reloj works!</p>

<div>
  <button (click)="loginWithGoogle()">Iniciar sesión con Google</button>
  <button (click)="logout()">Cerrar sesión</button>
</div>

<div *ngIf="accessToken">
  <!-- Botones para obtener datos de Google Fit -->
  <button (click)="getStepsData()">Obtener datos de pasos</button>
  <button (click)="getHeartRateData()">Obtener datos de frecuencia cardíaca</button>
  <button (click)="getSleepData()">Obtener datos de sueño</button>

  <!-- Visualización de los datos -->
  <div *ngIf="stepsData">
    <h3>Datos de pasos:</h3>
    <pre>{{ stepsData | json }}</pre>
  </div>

  <div *ngIf="heartRateData">
    <h3>Datos de frecuencia cardíaca:</h3>
    <pre>{{ heartRateData | json }}</pre>
  </div>

  <div *ngIf="sleepData">
    <h3>Datos de sueño:</h3>
    <pre>{{ sleepData | json }}</pre>
  </div>

<ion-footer>
  <ion-toolbar style="width: 100%;">
    <ion-segment>
      <!-- Segmentos existentes -->
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'registrar-emociones'}" (click)="navigateTo('/registrar-emociones')">
        <img src="assets/emotes/calendario.svg" alt="Registrar emociones" class="nav-icon" />
      </ion-segment-button>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'home'}" (click)="navigateTo('/home')">
        <img src="assets/emotes/home.svg" alt="Home" class="nav-icon" />
      </ion-segment-button>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'tips'}" (click)="navigateTo('/tips')">
        <img src="assets/emotes/tranquilidad.svg" alt="Tips" class="nav-icon" />
      </ion-segment-button>
      <ion-segment-button [ngClass]="{'active-segment': currentSegment === 'reloj'}" (click)="navigateTo('/reloj')">
        <img src="assets/emotes/reloj.webp" alt="Reloj" class="nav-icon" />
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
